.projects_container {
  background-color: #f3f3f7;
  padding-top: 140px;
  padding-bottom: 140px;
}

.projects_head {
  text-align: center;
}

.projects_head_title {
  font-weight: 900;
  font-size: 2.4rem;
  font-family: sans-serif;
  letter-spacing: 1.5px;
  border-bottom: 5px solid #ffa949;
}

.projects_list {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 80px;
}

.projects_list_team-project {
  display: flex;
  justify-content: center;
  margin-bottom: 50;
  opacity: 0;
}

.projects_list_personal-project {
  display: flex;
  justify-content: center;
  opacity: 0;
}

.projects_list_project {
  margin: 3rem;
}

.projects_list_project_web_wrap {
  width: 62rem;
}

.projects_list_project_app_wrap {
  width: 20rem;
}

.projects_list_project_wrap_img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 12px 24px 0 rgba(48, 54, 77, 0.5);
}

.projects_list_project_contents {
  padding-top: 10px;
  padding-left: 5px;
}

.projects_list_project_contents_name {
  font-weight: 700;
  font-size: 2.05rem;
}

.projects_list_project_contents_pos {
  font-size: large;
  padding-bottom: 5px;
  color: gray;
}

@media screen and (max-width: 1500px) {
  .projects_list_project_web_wrap {
    width: 52rem;
  }
  .projects_list_project {
    margin: 2rem;
  }
}

@media screen and (max-width: 1300px) {
  .projects_list_project_web_wrap {
    width: 42rem;
  }
  .projects_list_project {
    margin: 1rem;
  }
}

@media screen and (max-width: 1090px) {
  .projects_list_project_web_wrap {
    width: 32rem;
  }
  .projects_list_team-project {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 920px) {
  .projects_list_team-project {
    flex-wrap: wrap;
  }

  .projects_list_personal-project {
    flex-wrap: wrap;
  }

  .projects_list_project_web_wrap {
    width: 20.5rem;
  }

  .projects_container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .projects_head_title {
    font-size: 1.5rem;
  }
  .projects_list_project_contents_name {
    font-weight: 700;
    font-size: 1.7rem;
  }

  .projects_list_project_contents_pos {
    font-size: 1rem;
    padding-bottom: 5px;
    color: gray;
  }
}

@media screen and (max-width: 630px) {
  .projects_head_title {
    font-size: 1.4rem;
  }
}
